﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Coordenadas.css">
</head>

<body>
    <br />
    <canvas id="coordenadasCanvas" width="1200" height="1200" style="top:0;"></canvas>
</body>

</html>

<script src="~/Scripts/Mapa.js"></script>
