﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ABC - Controle de Rotas</h1>
    <p>&nbsp;</p>
    <p class="lead">A ABC - Controle de Rotas é uma aplicação que tem o objetivo de consultar a melhor rota dentro de uma origem e destino definidas.</p>
    <p>Para isso foi desenvolvido um cadastro de pontos com coordenadas X e Y dentro de um eixo cartesiano.</p>
    <p>Além disso foi desenvolvido um cadastro de ligações entre esses pontos possibilitando a obtenção das rotas.</p>
    <p>A aplicação disponibiliza um menu "Cadastro"onde são feitos os cadastros de pontos e ligações, e um outro menu "Consulta Rotas" onde o usuário pode consultar as rotas entre esses pontos.</p>

    <p>&nbsp;</p>
    <p>Observação: A consulta às rotas ainda não escolhe a melhor rota sempre (faltam alguns ajustes no algoritmo), mas já dá para ver o funcionamento.</p>
    <p>&nbsp;</p>
    <p>Por motivos de portabilidade foi usado como banco de dados o arquivo rotas.mdf localizado na pasta App_Data do projeto ABC.Rotas.UI.Web. Essa informaçao pode ser útil no caso de erros na conexão com banco de dados.</p>
</div>

