﻿@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Coordenadas</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Coordenadas.css">
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/query.min.js" type="text/javascript"></script>-->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>

<body>
    <h1 style="text-align: center">Consulta de Rotas</h1>
    <br />
    <div class="container" col-md-12>
        <div class="col-md-8 col-md-offset-2 form-group" style="border-radius:4px; border-style: groove; padding-top:20px;" align="center">
            <p>
                @Html.Label("Ponto de origem")
                @Html.DropDownList("pontoOrigem", null, new { @class = "form-control" })
            </p>
            <p>
                @Html.Label("Ponto de destino")
                @Html.DropDownList("pontoDestino", null, new { @class = "form-control" })
            </p>
            <p>
                <button class="form-control btn btn-primary" id="btnMostrar">Mostrar rota</button><br />
            </p>

        </div>
    </div>
    <div>
        @{
            Html.RenderPartial("../Shared/_Mapa", new { id = "mapa"} );   
        }
    </div>
</body>
</html>

<script src="~/Scripts/MapaRotas.js"></script>