﻿@model ABC.Rotas.UI.Web.Models.CadastroViewModel
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Coordenadas.css">
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/query.min.js" type="text/javascript"></script>-->    
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>

<body>
    <h1 style="text-align:center">Controle de Rotas</h1>
    <br />
    <div class="container col-md-12">
        <div class="col-md-12">
            @using (Html.BeginForm("Create", "Pontos", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-4 form-group" style="border-radius:4px; border-style: groove;" align="center">
                    <p>
                        <h3>Incluir ponto</h3>
                    </p>
                    <p>&nbsp;</p><p>&nbsp;</p>
                    <p>
                        <span>Nome do ponto</span>
                        @Html.TextBoxFor(model => model.CreatePontoViewModel.Nome, new { @class = "form-control" })
                    </p>
                    <p>
                        <span>Coordenada X</span>
                        @Html.TextBoxFor(x => x.CreatePontoViewModel.X, new { @class = "form-control", @type="number", @max=59, @min="-59" })
                    </p>
                    <p>
                        <span>Coordenada Y</span>
                        @Html.TextBoxFor(x => x.CreatePontoViewModel.Y, new { @class = "form-control", @type="number", @max=59, @min="-59" })
                    </p>
                    <p><button type="submit" id="btnIncluirPonto" class="form-control btn btn-primary">Incluir ponto</button></p>
                </div>
            }
            @using (Html.BeginForm("Edit", "Pontos", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-4 form-group" style="border-radius:4px; border-style: groove" align="center">
                    <p>
                        <h3>Editar ponto</h3>
                    </p>
                    <p>
                        <span>&nbsp;</span>
                        @Html.DropDownListFor(x => x.EditPontoViewModel.Id, null, new { @class = "form-control", @id = "EditPontoViewModelId" })
                    </p>
                    <p>
                        <span>Nome do ponto</span>
                        @Html.TextBoxFor(model => model.EditPontoViewModel.Nome, new { @class = "form-control", @id = "EditPontoViewModelNome" })
                    </p>
                    <p>
                        <span>Coordenada X</span>
                        @Html.TextBoxFor(x => x.EditPontoViewModel.X, new { @class = "form-control", @type = "number", @max = 59, @min = "-59", @id = "EditPontoViewModelX" })
                    </p>
                    <p>
                        <span>Coordenada Y</span>
                        @Html.TextBoxFor(x => x.EditPontoViewModel.Y, new { @class = "form-control", @type = "number", @max = 59, @min = "-59", @id = "EditPontoViewModelY" })
                    </p>
                    <p><button id="btnAlterarPonto" class="form-control btn btn-primary">Editar ponto</button></p>
                </div>
            }
            @using (Html.BeginForm("Delete", "Pontos", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-4 form-group" style="border-radius:4px; border-style: groove" align="center">
                    <p>
                        <h3>Excluir ponto</h3>
                    </p>
                    <p>&nbsp;</p><p>&nbsp;</p>
                    <p>
                        <span>Nome do ponto</span>
                        @Html.DropDownListFor(x => x.DeletePontoViewModelId, null, new { @class = "form-control" } )
                    </p>
                    <p>
                        <span>Coordenada X</span>
                        <input type="text" id="coordenadaX" class="form-control" readonly="readonly" />
                    </p>
                    <p>
                        <span>Coordenada Y</span>
                        <input type="text" id="coordenadaY" class="form-control" readonly="readonly" />
                    </p>
                    <p><button id="btnExcluirPonto" class="form-control btn btn-primary">Excluir ponto</button></p>
                </div>
            }
        </div><br/>
    </div>
    <div class="col-md-12" style="align-self:center">
        @foreach (var item in Model.CreatePontoViewModel.Erros)
        {
            <p style="text-align: center; font-size: x-large; color: red" class="col-md-12">
                @Html.Raw(item)
            </p>
        }
        @foreach (var item in Model.EditPontoViewModel.Erros)
        {
            <p style="text-align: center; font-size: x-large; color: red" class="col-md-12">
                @Html.Raw(item)
            </p>
        }

        @foreach (var item in Model.CreateLigacaoViewModel.Erros)
        {
            <p style="text-align: center; font-size:x-large; color: red" class="col-md-12">
                @Html.Raw(item)
            </p>
        }
        @foreach (var item in Model.DeleteLigacaoViewModel.Erros)
        {
            <p style="text-align: center; font-size:x-large; color: red" class="col-md-12">
                @Html.Raw(item)
            </p>
        }

        @foreach (var item in Model.Erros)
        {
            <p style="text-align: center; font-size:x-large; color: red" class="col-md-12">
                @Html.Raw(item)
            </p>
        }

    </div>

    <div class="container col-md-12">
        @using (Html.BeginForm("Create", "Ligacoes", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-6 form-group" style="border-radius:4px; border-style: groove" align="center">
                <p>
                    <h3>Incluir ligaçao</h3>
                </p>
                <p>
                    <span>Primeiro ponto</span>
                    @Html.DropDownListFor(x => x.CreateLigacaoViewModelP1Id, null, new { @class = "form-control" })
                </p>
                <p>
                    <span>Segundo ponto</span>
                    @Html.DropDownListFor(x => x.CreateLigacaoViewModelP2Id, null, new { @class = "form-control" })
                </p>
                <p><button id="btnIncluirLigacao" class="form-control btn btn-primary">Incluir ligação</button></p>
            </div>
        }
        @using (Html.BeginForm("Delete", "Ligacoes", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-6 form-group" style="border-radius:4px; border-style: groove" align="center">
                <p>
                    <h3>Excluir ligação</h3>
                </p>
                <p>
                    <span>Primeiro ponto</span>
                    @Html.DropDownListFor(x => x.DeleteLigacaoViewModelP1Id, null, new { @class = "form-control" })
                </p>
                <p>
                    <span>Segundo ponto</span>
                    @Html.DropDownListFor(x => x.DeleteLigacaoViewModelP2Id, null, new { @class = "form-control" })
                </p>
                <p><button id="btnExcluirLigacao" class="form-control btn btn-primary">Excluir ligação</button></p>
            </div>
        }
    </div>
    <div>
        @{
            Html.RenderPartial("../Shared/_Mapa", new { id = "mapa" });
        }

    </div>
</body>

</html>

<script src="~/Scripts/Cadastro.js"></script>
